<footer class="footer">
    <div class="logo">
        <img class="image--fluid" src="./assets/images/footer-logo.png" alt="Queen letters">
        <img src="./assets/images/freddy-silhouette-darkbkg.png" height="100" alt="Freddie silhouette">
    </div>
    <div class="social-links">
        <div class="header">
            <h3>Connect</h3>
        </div>
        <ul class="ulist">
            <li class="ulist__element">
                <a href="https://www.facebook.com/Queen" aria-label="Link to Facebook" target="_blank">
                    <i class="fa-solid fa-brands fa-facebook fa-2x white"></i>
                </a>
            </li>
            <li class="ulist__element">
                <a href="https://www.instagram.com/officialqueenmusic"  aria-label="Link to Instagram" target="_blank">
                    <i class="fa-brands fa-instagram fa-2x white"></i>
                </a>
            </li>
            <li class="ulist__element">
                <a href="https://twitter.com/queenwillrock" aria-label="Link to X" target="_blank">
                    <i class="fa-brands fa-x-twitter fa-2x white"></i>
                </a>
            </li>
            <li class="ulist__element">
                <a href="https://www.youtube.com/Queen" aria-label="Link to Youtube" target="_blank">
                    <i class="fa-brands fa-youtube fa-2x white"></i>
                </a>
            </li>
        </ul>
        <br>
        <div class="copy">
            <p>&copy; 2024 <a href="https://www.queenonline.com/">Queen Official Site</a></p>
        </div>
    </div>
</footer>