<header class="header">
    <div class="logo">
        <a href="/">
            <img class="image--fluid img-small" src="./assets/images/queen-logo-lightbkg.png" alt="Logo Queen">
            <img class="image--fluid img-med" src="./assets/images/header-logo.png" alt="Logo Queen complete">
        </a>
    </div>
    <nav class="menu">
        <ul class="ulist">
            <li class="ulist__element parent-silhouette">
                <a class="ulist__link" data-info="index" href="index.html">
                    Home
                </a>
            </li>
            <li class="ulist__element parent-silhouette">
                <a class="ulist__link" data-info="presentation" href="presentation.html">
                    Queen
                    <img class="silhouette" src="./assets/images/freddie-mercury-silhouette.png" height="40"
                        alt="Freddy silhouette color">
                </a>
            </li>
            <li class="ulist__element parent-silhouette">
                <a class="ulist__link" data-info="category" href="category.html">
                    Albums
                    <img class="silhouette" src="./assets/images/freddy-silhouette1-lightbkg.png" height="35"
                        alt="Freddy silhouette back"></a>
            </li>
            <li class="ulist__element parent-silhouette">
                <a class="ulist__link" data-info="detail" href="detail.html">
                    A kind of magic
                    <img class="silhouette" src="./assets/images/freddy-silhouette2-lightbkg.png" height="40"
                        alt="Freddy silhouette hand up">
                </a>
            </li>
            <li class="ulist__element parent-silhouette">
                <a class="ulist__link" data-info="links" href="links.html">Links</a>
            </li>
        </ul>
    </nav>
</header>