<header class="header">
    <div class="signature">
        <img class="image--fluid" width="200" src="./assets/images/freddy-signature.png" loading="lazy"
            alt="Freddy Mercury Signature">
    </div>
    <a href="/">
        <div class="logo text-in-expand">
            <img class="image--fluid logo-heart-beat" src="./assets/images/logo-light-bkg.svg" loading="lazy"
                alt="Logo Queen">
            <p class="queen-font" aria-hidden="true"><span class="queen-letter" aria-hidden="true">Q</span>UEEN</p>
        </div>
    </a>
    <nav class="menu">
        <ul class="ulist">
            <li class="ulist__element parent-silhouette">
                <a class="ulist__link" data-info="index" href="index.html">
                    <span>Home</span>
                </a>
            </li>
            <li class="ulist__element parent-silhouette">
                <a class="ulist__link" data-info="presentation" href="presentation.html">
                    <span>Queen</span>
                    <img class="silhouette" src="./assets/images/freddie-mercury-silhouette.png" width="40" height="40"
                        loading="lazy" alt="Freddy silhouette color">
                </a>
            </li>
            <li class="ulist__element parent-silhouette">
                <a class="ulist__link" data-info="category" href="category.html">
                    <span>Albums</span>
                    <img class="silhouette" src="./assets/images/freddy-silhouette1-lightbkg.png" width="24" height="35" loading="lazy"
                        alt="Freddy silhouette back"></a>
            </li>
            <li class="ulist__element parent-silhouette">
                <a class="ulist__link" data-info="detail" href="detail.html">
                    <span>A kind of magic</span>
                    <img class="silhouette" src="./assets/images/freddy-silhouette2-lightbkg.png" width="40" height="40" loading="lazy"
                        alt="Freddy silhouette hand up">
                </a>
            </li>
            <li class="ulist__element parent-silhouette">
                <a class="ulist__link" data-info="links" href="links.html"><span>Links</span></a>
            </li>
        </ul>
    </nav>
</header>