@import "colours";
@import "variables";

.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  @media (min-width: $tabletMinWidth) {
    width: 1024px;
  }

  @media (min-width: $desktopMinWidth) {
    width: 1280px;
  }
}

.band-container {
  display: flex;
  flex-wrap: wrap;

  .box {
    flex: 1;
    min-width: 100%;
    box-sizing: border-box;

    @media (min-width: $tabletMinWidth) {
      min-width: 50%;
    }
  }
}

.band {
  .band-hover {
    display: none;
  }

  &:hover {
    .band-default {
      display: none;
    }

    .band-hover {
      display: initial;
    }
  }
}

.band:last-child {
  margin-bottom: 40px;
}

.ulist {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;

  @media (min-width: $tabletMinWidth) {
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }

  &__element {
    flex-shrink: 0;
    align-self: center;
    list-style: none;
    margin-bottom: 10px;

    &--active {
      font-weight: bold;
      border-bottom: 1px solid white;
    }
  }

  &__link {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
  }
}

.header {
  background-color: white;
  border-bottom: 1px lightgray solid;
  padding: 20px;
}

.logo {
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: auto;
  margin-left: auto;

  .img-med {
    display: none;
  }

  @media (min-width: $tabletMinWidth) {
    width: 300px;
    height: auto;

    .img-small {
      display: none;
    }
    .img-med {
      display: initial;
    }
  }

  @media (min-width: $desktopMinWidth) {
  }
}

.parent-silhouette {
  position: relative;
}

.silhouette {
  display: none;
  position: absolute;
  bottom: 0;
  right: -50;
}

.header {
  .logo {
    a {
      border-bottom: initial;
    }
  }

  a {
    color: var(--main-color);
    text-decoration: none;
    border-bottom: 1px dotted;
    padding-bottom: 2px;
  }

  .ulist__element {
    &:hover {
      border-bottom: 1px solid var(--red);

      .silhouette {
        display: block;
      }

      @media (min-width: $tabletMinWidth) {
        .silhouette {
          left: -20;
        }
      }
    }

    a:hover {
      color: var(--red);
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 0.5px solid rgb(18, 18, 18);

  a {
    border-bottom: none;

    &:hover {
      color: var(--red);
      border-bottom: 1px dotted var(--red);

      .fa-brands {
        color: var(--accent-color);
      }
    }
  }

  .logo {
    text-align: center;
  }

  @media (min-width: $tabletMinWidth) {
    flex-direction: row;
    justify-content: space-between;

    .logo {
      margin-left: initial;
      width: 200px;
    }
  }
}

.social-links {
  text-align: center;
  margin-top: auto;

  .ulist {
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }

  a:hover {
    border-bottom: initial;
  }
}

.copy {
  font-size: 0.8rem;
}

.h-margins {
  margin-right: 20px;
  margin-left: 20px;
}

.v-margins {
  margin-top: 20px;
  margin-bottom: 20px;
}

.art-detail {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $tabletMinWidth) {
    flex-direction: row;

    .art-detail__item {
      flex: 1 1 50%; /* Flex-grow, flex-shrink, flex-basis */
    }
  }

  @media (min-width: $desktopMinWidth) {
    .art-detail-8__item {
      flex: 1 1 60%; /* Flex-grow, flex-shrink, flex-basis */
    }
    .art-detail-4__item {
      flex: 1 1 40%; /* Flex-grow, flex-shrink, flex-basis */
    }
  }
}

.description {
  text-align: justify;
}

.olist {
  text-align: justify;

  li {
    padding-bottom: 10px;
  }
}

.songs-list {
  margin: 0 auto;
}

.artist {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $tabletMinWidth) {
    flex-direction: row;

    .artist__item {
      flex: 1 1 50%; /* Flex-grow, flex-shrink, flex-basis */
    }
  }

  @media (min-width: $desktopMinWidth) {
    .artist-8__item {
      flex: 0 0 60%;
    }

    .artist-4__item {
      flex: 0 0 40%;
    }
  }
}

.table-flex {
  overflow-x: auto;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  margin-bottom: 20px;
  padding-left: 20px;

  tbody {
    vertical-align: middle;
    padding-top: 10px;

    td {
      text-align: left;
      line-height: 20px;
      padding-bottom: 10px;
    }

    td:first-child {
      padding-left: 40px;
    }
  }
}
