@import "main.scss";

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Noto+Serif:ital,wght@0,600;1,600&display=swap");

@import "npm:@fortawesome/fontawesome-free/css/all.css";

:root {
  --font-family-sans-serif: "Lato", sans-serif;
  --font-family-serif: "Noto Serif", serif;

  --tabletMinWidth: 1024px;
  --desktopMinWidth: 1600px;
  
  --sans-serif-font: "Lato", sans-serif;
  --serif-font: "Noto Serif", serif;

  --main-color: rgb(42, 54, 59);
  --accent-color: rgb(245, 208, 97);
  /*--neutral-color: rgb(229, 225, 254);*/
  --red: rgb(207, 70, 71);
  --bg-color: rgb(255, 255, 255);
  --light-color: rgb(248, 248, 246);
}

/* Reset */
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  margin-bottom: 2rem;
}

main {
  flex: 1; /* Grow to fill remaining vertical space */
  text-align: center;
}

footer {
  background-color: black;
  color: white;
  padding: 20px;
  margin-top: auto; /* Push footer to the bottom */
}

/* Reglas generales */
body {
  font-family: var(--sans-serif-font);
  font-weight: 400;
  color: var(--light-color);
  background-color: black;
}

h1,
h2,
h3,
h4 {
    font-weight: 600;
    font-family: var(--serif-font);
}
h1 {
    font-size: 2.3rem;
    margin-bottom: 2rem;
}
h2 {
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
h3 {
    font-size: 1.45rem;
    margin-bottom: 1rem;
}
h4 {
    font-size: 1.2rem;
}
p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}

ol,
ul {
    margin-left: 1.5rem;
    font-size: 1rem;
}

a {
    color: var(--accent-color);
    text-decoration: none;
    border-bottom: 1px dotted;
    padding-bottom: 2px;
}
a:hover {
    color: var(--main-color);
}

@media (min-width: 992px) {
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 2rem;
    }
    p {
        font-size: 1.2rem;
    }
    ol,
    ul {
        font-size: 1.2rem;
    }
}


/* Fluid Multimedia */
.image--fluid {
  width: 100%;
  height: auto;
  display: block;
}

.video--fluid {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  border: 0;
}
